@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";

@tailwind components;
@tailwind utilities;

.radix-themes {
  --default-font-family: var(--font-geist-sans), BlinkMacSystemFont,
    "Segoe UI (Custom)", Roboto, "Helvetica Neue", "Open Sans (Custom)",
    system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dark {
  --dark: #000;
  --product-bg: #000;
  --outline-01: var(--gray-3);
  --outline-02: var(--gray-4);
  --outline-03: var(--gray-5);
}

.dark .rt-TextFieldRoot,
.dark .rt-TextAreaRoot {
  background-color: var(--gray-a3);
}

.light {
  --dark: #fff;
  --product-bg: var(--gray-3);
  --outline-01: var(--gray-5);
  --outline-02: var(--gray-6);
  --outline-03: var(--gray-7);
}

.light .rt-TextFieldRoot,
.light .rt-TextAreaRoot {
  background-color: var(--gray-a3);
}

::-webkit-scrollbar-corner {
  display: none;
  background: transparent;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--product-bg);
}

.tabler-icon {
  color: currentColor;
  width: 20px;
  height: 20px;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

:root {
  --sidebar-background: var(--gray-surface);
  --sidebar-foreground: var(--gray-12);
  --sidebar-primary: var(--indigo-a3);
  --sidebar-primary-foreground: var(--indigo-11);
  --sidebar-accent: var(--indigo-a3);
  --sidebar-accent-foreground: var(--indigo-11);
  --sidebar-border: var(--gray-4);
  --sidebar-ring: var(--indigo-9);
}

/* .noise-bg-container {
    width: 100%;
    height: 100%;
    background-size: 109px;
    background-repeat: repeat;
    background-image: url('https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png');
    opacity: 0.02;
    border-radius: 0;
    flex: none;
    inset: 0;
    pointer-events: none;
    position: fixed;
    z-index: 10000;
} */
